`Request::content_type` does not prefer more specific types

From RFC 2616 (Section 14.1):

>   Media ranges can be overridden by more specific media ranges or
>   specific media types. If more than one media range applies to a given
>   type, the most specific reference has precedence. For example,
> 
> ```
>   Accept: text/*, text/html, text/html;level=1, */*
> ```
> 
>   have the following precedence:
> 
> ```
>   1) text/html;level=1
>   2) text/html
>   3) text/*
>   4) */*
> ```
