BasicRepresenter#preference_for_language doesn't follow RFC 2616

RFC 2616, section 14.4, states:

```
   A language-range matches a language-tag if
   it exactly equals the tag, or if it exactly equals a prefix of the
   tag such that the first tag character following the prefix is "-".
   The special range "*", if present in the Accept-Language field,
   matches every tag not matched by any other range present in the
   Accept-Language field.
```

The prefix case is not handled by Representer#pick_best and/or BasicRepresenter#preference_for_language
